<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/form.css")
    title Document
  body
    nav
      ul
        li
          a(href="/") Index
          a(href="/add-pokemon") Añadir Pokemon
    form(action="/add-pokemon" method="POST")#form-add
      label(for="name") PokeName
      input(type="text" name="name")#name
      input(type="submit")